.my-grid {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 100px;
}

.has-blue-background {
    background-color: #A7DDFF;
    border: 1px solid #721EE3;
}

.has-yellow-background {
    background-color: #FAF7A7;
    border: 1px solid #E38C1E;
}

h1 {
    border: 5px double rgb(73, 143, 172);
    color: rgb(56, 92, 29)
}

a {
    color:rgb(188, 97, 26)
}

a:hover {
    color:rgb(209, 62, 109)
}
